<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="dvkit"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="DVKit">
         <property
               name="appName"
               value="DVKit">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_classic">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="aboutText"
               value="DVKit Design Verification IDE">
         </property>
         <property
               name="windowImages"
               value="window_img_16_16.gif,window_img_32_32.gif,window_img_48_48.gif,window_img_64_64.gif,window_img_128_128.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="net.sf.dvkit.product.theme1"
            id="net.sf.dvkit.product.defaultTheme"
            label="Theme">
      </theme>
   </extension>

</plugin>
